@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Open+Sans:ital@1&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    /*background-image: url(/img/Fondo.jpg); */
    background-color: #c3effd9d;    
}

.imagenlog{
    width: 30%;
    margin: 3rem 25rem 0rem;
    /*border: solid 0.2rem #7fa5b9;*/
    border-radius: 10rem;
}

.container{
    display: flex;

}

.pie-pagina{
        position: absolute; 
        bottom: 0; 
        left: 0;
        z-index: 10;
}


.botoninicio{
    width: 20%;
    /*background-color: #7fa5b9;*/
    background-color: #206e97a2;
    text-decoration: none;
    border-radius: 3rem;
    padding: 0.4%;
    text-align: center;
    color: aliceblue;
    font-size: 3rem;
    margin: 1rem 29rem 5rem;
    cursor: pointer;  
}

.botoninicio:hover{
    background-color: #29688a;
    
}



/*Recuadro de formulario Login */
.login{
    width: 23rem;
    height: 18rem;
    background-color: #05376667;
    border-radius: 2rem;
    margin: auto;
    margin-top: 7rem;
    padding: 3rem 4rem;
    border-top: 0.5rem solid #ffffff;
    border-left: 0.3rem solid #ffffff;
    border-right: 0.3rem solid #ffffff;
    color: #ffffff;
}
/*Titulo formulario */
.login h4{
    margin: 0;
    text-align: center;
    height: 3rem;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid;
    font-size: 1.5rem;
}
/*Recuadros usuario y contrasea */
.recuadros{
    width: 100%;
    border-radius: 0.5rem;
    border: 0.1rem solid #000000a8;
    margin-bottom: 1.5rem;
    padding: 0.6rem 0.2rem;
    background: #ffffff;
    font-size: 1rem;
}

/*Boton Ingresar */
.botonlogin{
    text-decoration: none;
    
    border-style:ridge;
    background-color: #00065c4b;
    border-radius: 0.5rem;
    padding: 0.4rem;
    text-align: center;
    color: aliceblue;
    font-size: 1rem;
    margin: 9rem;
    cursor: pointer;  
}

.botonlogin:hover{
    background-color: #063853;
}

/*Boton olvide mi contra y nvo user */
.login p{
    height: 2rem;
    text-align: center;
    border-bottom: 0.1rem solid;
}
/*Letras olvide mi contra y nvo user */
.login a{
    color: aliceblue;
    text-decoration: none;
    font-size: 1rem;
}

.login a:hover{
    text-decoration: underline;
}


/*Olvidé mi Contraseña */
.olvide-contraseña{
    width: 25rem;
    background: #d0acd68a;
    padding: 2rem;
    margin: auto;
    margin-top: 7rem;
    border-radius: 2rem;
    color: #ffffff;
}

.olvide-contraseña h4{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.nueva-contraseña{
    width: 100%;
    background: #ffffff;
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    border: 0.2rem solid #ffffff;
    font-size: 1rem;
}

.boton-contraseña{
    width: 100%;
    background: #19648da2;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem;
    color: #ffffff;
    margin: 0.4rem;
    font-size: 1rem;
}



/*Registrar Nuevo Usuario */
.nuevo-usuario{
    width: 25rem;
    background: #d0acd68a;
    padding: 3rem;
    margin: auto;
    margin-top: 7rem;
    border-radius: 4rem;
    color: #ffffff;
}

.nuevo-usuario h4{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

/*Recuadritos */
.controles{
    width: 100%;
    background: #fdfdfd;
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    border: 1px solid #ffffff;
    font-size: 1rem;
    
}

.boton-registro{
    width: 100%;
    background: #19648da2;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem;
    color: #ffffff;
    margin: 0.4rem;
    font-size: 1rem;
}

/*Config parte recuadro */
.sidebar {
    list-style: none;
    position: fixed;
    left: 0;
    width: 20rem;
    height: 100%;
    background: #f9e6fc;
}

 /*Config Menu */
.sidebar header{
    font-size: 2rem;
    color: #01040794;
    text-align: center;
    line-height: 4rem;
    background: #f1bff856;
    user-select: none;
    border-bottom: 0.1rem solid #050c1d15;
}


/*Config de lista */
.sidebar ul a{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 3rem;
    font-size: 1rem;
    color: #01040793;
    padding-left: 1rem;
    box-sizing: border-box;
    border-top: 0.2rem solid #ffffff;
    border-bottom: 0.1rem solid #050c1d44;
}

/*Config de lista mover */
ul li:hover a{
    padding-left: 3rem;
}


/*
.season_tabs {
  position: relative;   
  min-height: 23rem; /* This part sucks 
  clear: both;
  margin: 2rem 0;
  
}
.season_tab {
  float: left;  
  clear: both;
  width: 20rem;
  
 
}
.season_tab label {
    background: #eee;
    padding: 1rem;
    border: 0.1rem solid #ccc;
    font-size: 1.5rem;
    vertical-align: middle;
    position: relative;
    left: 0.5rem;
    width: 16rem;
    height: 3rem;
    display: table-cell;
}

Para centrar el cuadro
.season_tab [type=radio] {
    display: none;   
}
.season_content {
  position: absolute;
  top: 0; /*para que no se vaya para arriba
  left: 18rem;
  background: #f7e9fa;
  right: 0;
  bottom: 0;
  padding: 2rem;
  border: 0.3rem solid #ffffff;
 }

 [type=radio]:checked ~ label {
    background: white;
    border-bottom: 0.2rem solid #8bc34a;
    z-index: 2;
}
[type=radio]:checked ~ label ~ .season_content {
  z-index: 1;
}
*/


/*Datos mascotas */
.datos-mascota{
flex-direction: column;
padding: 1rem;
display: flex;
gap: 1rem;
}

/*Cuadro mascotas */
.cuadros-mascotas{
    width: 13%;
    border-radius: 0.2rem;
    background: #ffffff;
    padding: 0.2rem;
    margin: 0.5rem;
    border: 0.1rem solid #000000;
    font-size: 1rem;
}

/*Boton crear nuevo paciente */
.boton-crear{
    margin: 0.1rem 30rem;
    width: 7%;
    background: #351981af;
    border: none;
    text-decoration: none;
    padding: 0.7rem;
    text-align: center;
    color: white;
    font-size: 1rem;
}

.boton-crear:hover{
    background-color: #28013fb4;
}

.sexo-tipo{
    justify-content: start;
    
}

/*Historial médico */
.historial{
    flex-direction: column;
    padding: 1rem;
    display: flex;
    gap: 0.3rem;
}

.fecha{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 8rem;
}

.hora{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 8rem;
}

.servicio{
    padding: 0.3rem;
    width: 8rem;
}

.pacientes{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 8rem;
}

.propietarios{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 8rem;
}

.veterinarios{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 8rem;
}

.observaciones{
    padding: 2rem;
    width: 20rem;
}

.boton-guardar{
    margin: 10rem;
    width: 10%;
    background: #351981af;
    border: none;
    text-decoration: none;
    padding: 0.7rem;
    text-align: center;
    color: white;
    font-size: 1rem;
}

/*Calendario */
.calendar-container{
    width: 50%;
    max-width: 75rem;
    background-color: #d6d6d6d7;
    box-shadow: 0 1rem 2rem #4747474b;
    border-radius: 1rem;
    margin: auto;
}

.calendar-header{
    text-align: center;
    padding: 1rem 0;
    border-bottom: 0.2rem solid #29688a;
}

.calendar-header h1{
    font-size: 2rem;
    margin: 0;
}

/*Nov 2023 */
.calendar-header p{
    font-size: 1.5rem;
    margin: 0.5rem;
    color: #29688a;
    font-weight: bold;
}

/*Cuadro */
.calendar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7, minmax(0.2rem, 1fr));
    grid-template-rows: 4rem;
    grid-auto-rows: 7rem;
}

.day{
    text-align: right;
    padding: 0.6rem 0.6rem;
    border-bottom: 0.1rem solid #29688a;
    border-right: 0.1rem solid #29688a;
    border-radius: 0.5rem;
   
}

.day-name{
    font-size: 1rem;
    color: #063853;
    text-align: center;
    line-height: 4rem;
    font-weight: bold;
    border-bottom: 0.3rem solid #7fa5b9;
}


.calend-citas{
    flex-direction: column;
    display: flex;
    gap: 1rem;
}
.paciente-calend{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 10rem;
}

.veterinario-calend{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 10rem;
}

.fecha-calend{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 10rem;
}

.asunto-calend{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 8rem;
   
}

.boton-buscar{
    margin: 12rem;
    width: 10%;
    background: #351981af;
    border: none;
    text-decoration: none;
    padding: 0.7rem;
    text-align: center;
    color: white;
    font-size: 1rem;
}