@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Open+Sans:ital@1&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    /*background-image: url(/img/Fondo.jpg); 
    background-color: #c3effd9d;*/
}

.pagina-index {
    background-color: #c3effd9d;
  }

 .pagina-login {
    background-image: url(/img/fondoanimalitos.png);
    opacity: 50;
  }

  .pagina-menu{
    background-image: url(/img/fondoanimalitos.png);
  }

.pagina-datos{
    background-image: url(/img/fonditoanimal.png);
}

.pagina-histo{
    background-image: url(/img/fonditoanimal.png);
}

.pagina-calend{
    background-image: url(/img/fonditoanimal.png);
}

/*Comienzo de paginas */
.imagenlog{
    width: 30%;
    margin: 3rem 25rem 0rem;
    /*border: solid 0.2rem #7fa5b9;*/
    border-radius: 10rem;
}

.container{
    display: flex;

}

.pie-pagina{
        position: absolute; 
        bottom: 0; 
        left: 0;
        opacity: 80%;
        z-index: 10;
}

/*Boton inicio */
.botoninicio{
    width: 20%;
    /*background-color: #7fa5b9;*/
    background-color: #206e97a2;
    text-decoration: none;
    border-radius: 3rem;
    padding: 0.4%;
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    margin: 1rem 29rem 5rem;
    cursor: pointer;  
}

.botoninicio:hover{
    background-color: #29688a;
    
}



/*Recuadro de formulario Login */
.login{
    width: 23rem;
    height: 18rem;
    background-color: #05376667;
    border-radius: 2rem;
    margin: auto;
    margin-top: 7rem;
    padding: 3rem 4rem;
    border-top: 0.5rem solid #fdf2ff;
    border-right: 0.3rem solid #fdf2ff;
    color: #ffffff;
}


/*Titulo formulario */
.login h4{
    color: #1d1d1d;
    background: #bddcff;
    border-radius: 0.5rem;
    margin: 0;
    text-align: center;
    height: 2.5rem;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid #000000;
    font-size: 1.5rem;
}
/*Recuadros usuario y contrasea */
.recuadros{
    width: 100%;
    border-radius: 0.5rem;
    border: 0.1rem solid #000000a8;
    margin-bottom: 1.3rem;
    padding: 0.6rem 0.2rem;
    background: #ffffff;
    font-size: 1rem;
}

/*Boton Ingresar */
.botonlogin{
    border-style:outset;
    border-radius: 0.3rem;
    padding: 0.4rem;
    text-align: center;
    font-size: 1rem;
    margin: 9rem;
    cursor: pointer;
}

.botonlogin:hover{
    background-color: #bddcff;
}

/*Boton olvide mi contra y nvo user */
.login p{
    height: 2rem;
    text-align: center;
    border-bottom: 0.1rem solid #ffffff;
}
/*Letras olvide mi contra y nvo user */
.login a{
    color: #000000;
    background-color: #e2f6fd;
    text-decoration: none;
    font-size: 1rem;
}

.login a:hover{
    text-decoration: underline;
}


/*Olvidé mi Contraseña */
.olvide-contraseña{
    width: 25%;
    background: #d0acd68a;
    padding: 3rem;
    margin: auto;
    margin-top: 6rem;
    border-radius: 2rem;
    color: #ffffff;
}

.olvide-contraseña h4{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: #252525;
    background: #c691cf96;
    border-radius: 2rem;
}

.nueva-contraseña{
    width: 95%;
    background: #ffffff;
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    border: 0.2rem solid #ffffff;
    font-size: 1rem;
}

.boton-contraseña{
    width: 95%;
    background: #19648da2;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem;
    color: #ffffff;
    margin: 0.4rem;
    font-size: 1rem;
}

/*Registrar Nuevo Usuario */
.nuevo-usuario{
    width: 25%;
    background: #d0acd68a;
    padding: 3rem;
    margin: auto;
    margin-top: 6rem;
    border-radius: 2rem;
    color: #ffffff;
}

.nuevo-usuario h4{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    color: #252525;
    background: #c691cf96;
    border-radius: 2rem;
}

/*Recuadritos */
.controles{
    width: 95%;
    background: #fdfdfd;
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    border: 0.1rem solid #ffffff;
    font-size: 1rem;
    
}

.boton-registro{
    width: 95%;
    background: #19648da2;
    border: none;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.6rem;
    color: #ffffff;
    margin: 0.4rem;
    font-size: 1rem;
}

/*Menu */
.menu h4{
    font-size: 2rem;
    color: #01040794;
    text-align: center;
    line-height: 4rem;
    background: #f1bff856;
    border-bottom: 0.1rem solid #050c1d15;
}


/*Config parte recuadro*/
.sidebar {
    list-style: none;
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    background: #f9e6fc;
}


/*Config de lista */
.sidebar ul a{
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 3rem;
    font-size: 1rem;
    color: #01040793;
    padding-left: 1rem;
    box-sizing: border-box;
    border-top: 0.2rem solid #ffffff;
    border-bottom: 0.1rem solid #050c1d44;
}

/*Config de lista mover */
ul li:hover a{
    padding-left: 3rem;
}

.sidebar li:last-child{
    margin: 10rem 1rem;
    width: 50%;
    border: 0.1rem solid #8b8b8b;
    padding-left: 3rem;
    list-style: none;
}

/*Ventana contenedor derecha */
.ventana-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*Datos mascotas */
.datos-mascota{
    flex-direction: column;
    color: #000000;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    background-color: #edfbff;
    border-radius: 1rem;
}

.sexo-tipo{
    justify-content: start;     
}

/*Cuadro mascotas */
.cuadros-mascotas{
    width: 40%;
    border-radius: 0.2rem;
    background: #ffffff;
    padding: 0.2rem;
    margin: 0.5rem;
    border: 0.1rem solid #000000;
    font-size: 1rem;
}

/*Boton crear nuevo paciente */
.boton-crear{
    margin: 0.1rem 14rem;
    width: 10%;
    background: #063853;
    border: none;
    text-decoration: none;
    padding: 0.7rem;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
}

.boton-crear:hover{
    background-color: #28013fb4;
}

/*Historial médico */
.historial{
    flex-direction: column;
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    background-color: #edfbff;
}

.fecha{ 
    margin: 0.5rem;
    padding: 0.2rem;
    width: 10rem;
}

.hora{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 10rem;
}

.servicio{
    padding: 0.3rem;
    width: 9rem;
}

.pacientes{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 10rem;
}

.propietarios{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 10rem;
}

.veterinarios{
    margin: 0.5rem;
    padding: 0.2rem;
    width: 10rem;
}

.observaciones{
    padding: 2rem;
    width: 30rem;
}

.boton-guardar{
    width: 10%;
    background: #351981af;
    border: none;
    text-decoration: none;
    padding: 0.7rem;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
}

/*Calendario */
ol{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    background-color: #edfbff
}

.dia-uno{
    grid-column-start: 5;
}

.nombre-dia{
    background: #ffffff;
    font-weight: bold;
    text-align: center;
    background-color: #b2edfd
}

/*Parte de abajo del calend */
.calend-citas{
    flex-direction: column;
    display: flex;
    gap: 1rem;
    
}

.paciente-calend{
    margin: 0.5rem;
    padding: 0.3rem;
    width: 12rem;
}

.veterinario-calend{
    margin: 0.5rem;
    padding: 0.3rem;
    width: 12rem;
}

.fecha-calend{
    margin: 0.5rem;
    padding: 0.3rem;
    width: 12rem;
}

.asunto-calend{
    margin: 0.5rem;
    padding: 0.3rem;
    width: 10rem;
}

.boton-buscar{
    margin: 1rem;
    width: 18%;
    background: #351981af;
    border: none;
    text-decoration: none;
    padding: 0.7rem;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
}

/*VENTANA ALERTAS */
.ventana-container h3{
    font-size: 2rem;
    color: #01040794;
    margin: 10rem;
    line-height: 6rem;
    background: #f1bff856;
    border-bottom: 0.1rem solid #050c1d15;
}


/*VENTANA DERECHA */
.ventana-derecha{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

/*VENTANA MENU BIENVENIDO */
.ventana-derecha h5{
font-size: 2.5rem;
    margin: 15rem;
    color: #1d1d1d;
    background: #ddecfd;
    border-radius: 1rem;
}